Source: ros-kinetic-nao-bringup
Section: misc
Priority: extra
Maintainer: Séverin Lemaignan <severin.lemaignan@epfl.ch>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://www.ros.org/wiki/nao_robot
Standards-Version: 3.9.2

Package: ros-kinetic-nao-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-diagnostic-aggregator, ros-kinetic-nao-description, ros-kinetic-naoqi-driver, ros-kinetic-naoqi-driver-py, ros-kinetic-naoqi-pose, ros-kinetic-naoqi-sensors-py, ros-kinetic-robot-state-publisher
Description: Launch files and scripts needed to bring ROS interfaces for Nao up into a running state.
